@charset "UTF-8";

/* FONTS 
font-family: 'Lato', sans-serif;
font-family: 'Roboto Slab', serif;
*/

/* COLORS 
Reds: #EF3C61, #DD2E50
Blues: #482FDF, #5A56EF
Turquoise: #40EDE2, #40C1E2
Light Grays: #F0F0F0, #DCDCDC
Dark Grays: #656D79, #434A54
*/


@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Roboto+Slab:400,700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
} 

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: #F0F0F0;
}

/*NAVIGATION*/
    .style {
		position: absolute;
        opacity: 0;
		width:100%;
		height:0;
        padding: 0px 25px;
		background-color:#F0F0F0;
		transition:all .5s;
		overflow:hidden;
}

	.mystyle {
        position: absolute;
		opacity: 1;
		width: 100%;
		height:100%;
		padding: 25px;
		background-color:#EF3C61;
		box-sizing: border-box;
        z-index: 9;
	}
	
	
/*	bars animation */
	.container {
		opacity: 1;
		display: inline-block;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 15px;
		z-index: 99;
	}

	.bar1, .bar2, .bar3 {
		width: 20px;
		height: 20px;
		background-color: #EF3C61;
		margin: 10px 6px;
		transition: 0.4s;
	}

	.change .bar1 {
        background-color: #40EDE2;
		-webkit-transform: translate(-9px, 6px) ;
		transform: translate(-9px, 6px) ;
	}

	.change .bar2 {
        background-color: #40EDE2;
		-webkit-transform: translate(-40px, -24px) ;
		transform: translate(-40px, -24px) ;
	}

	.change .bar3 {
        background-color: #40EDE2;
		-webkit-transform: translate(-70px, -54px) ;
		transform: translate(-70px, -54px) ;
	}    


/* MOBILE */


/*LANDING PAGE*/

.intro {
    position: relative;
    display: flex;
    width: 70%;
    margin: auto;
    flex-flow: row wrap;
    justify-content: center;
}

.logo {
    width: 70%;
    padding-bottom: 5%;
}

#c1 {
    width: 100%;
}

#c2 {
    position: fixed;
    display:none;
    z-index: -99;
    width: 70%;
    top:5%;
    left:-20%;
}

#c3 {
    display:none;
    z-index: -99;
    position: fixed;
    width: 70%;
    top:25%;
    left:30%;
}

#c4 {
    display:none;
    z-index: -99;
    position: fixed;
    width: 70%;
    top:68%;
    left:-30%;
}

#c5 {
    display:none;
    z-index: -99;
    position: fixed;
    width: 70%;
    top:-5%;
    left:60%;
}

#c6 {
    z-index: -99;
    display:none;
    position: fixed;
    width: 70%;
    top:45%;
    left:-50%;
}

#c7 {
    z-index: -99;
    display:none;
    position: fixed;
    width: 70%;
    top:65%;
    left:70%;
}

.display {
    display: block !important;
    z-index: 1 !important;
}

.enter {
    position: absolute;
    width: 100%;
    bottom: 2%; 
    display: flex;
    justify-content: center;
}

.enterh1 {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

.enterh1 a {
    text-decoration: none;
    color: #EF3C61;
}

.enterh1 a:hover {
    text-decoration: line-through;
}


/*INTRUSIVE ADS*/

#section1 {
    height: 100%;
}

#overlay {
    opacity: 1;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hide {
    opacity: 0;
    display:none;
}

#description {
    padding-top: 15%;
    margin: auto;
    width: 75%;
    height: 25%;
}

.definition {
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    color: #482FDF;
    font-size: 40px;
    hyphens: auto;
}

#text {
    padding: 5% 0;
    margin: auto;
    width: 75%;
    height: 50%;
    overflow: scroll;
}

.info {
    font-size: 18px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    color: #EF3C61;
    hyphens: auto;
}
.info p{
    padding-bottom:10px; 
}

#randomads {
    padding: 5%;
    height: 30%;
    width: 100%;
}

#un1, #un2 {
    width: 70%;
}

#un1 {
    margin-left:5%;
    margin-bottom: 2%;
}

#un2 {
    margin-left:30%;
    margin-bottom: 2%;
}



/* TABLET */
@media only screen and (min-width : 768px) and (max-width : 1024px) {


/*LANDING PAGE*/
    
.logo {
    width: 50%;
    padding-bottom: 5%;
}

#c1 {
    width: 80%;
}

#c4 {
    left:-30%;
}

#c7 {
    left:70%;
}

#c2, #c3, #c4, #c5, #c6, #c7 {
    width: 60%;    
}

.enterh1 {
font-size: 28px;
}

/*INTRUSIVE ADS*/
    
#description {
}

.definition {
}

#text {
    padding: 5% 0;
    overflow: scroll;
}

.info {
}
.info p{
    padding-bottom:10px; 
}

#randomads {
    padding: 5%;
    height: 20%;
    width: 100%;
    margin: auto;
}

#un1, #un2 {
    width: 50%;
}

#un1 {
    margin-left:5%;
    margin-bottom: 2%;
}

#un2 {
    margin-left:50%;
    margin-bottom: 2%;
}

    
}






/* DESKTOP */
@media only screen  and (min-width : 1024px) {

    
/*LANDING PAGE*/
.intro {
        width: 40%;
}

#c2, #c3, #c4, #c5, #c6, #c7 {
    width: 40%;    
}

#c2 {
    top:0%;
    left:0%;
}

#c3 {
    top:15%;
    left:60%;
}

#c4 {
    top:60%;
    left:-15%;
}

#c5 {
    top:-15%;
    left:75%;
}

#c6 {
    top:30%;
    left:5%;
}

#c7 {
    top:60%;
    left:68%;
}

.enterh1 {
font-size: 28px;
}

}

}
#section2 {
    height: 100%;
}

#test {
    color:aqua;
    font-size: 15px;
}
